<div class="m-0 p-0 md:px-4 lg:px-8 py-4">
  <div class="flex justify-content-end search-container">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="search"
        [(ngModel)]="searchKeyword"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <div nz-row [nzGutter]="16" *ngIf="products && !isLoading">
    <div
      nz-col
      class="gutter-row p-0"
      nzXs="24"
      nzSm="12"
      nzMd="12"
      nzLg="8"
      nzXl="6"
      *ngFor="let product of products | productsFilter : searchKeyword"
    >
      <!-- <div class="inner-box">col-6</div> -->
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
