<div class="h-full w-full p-5 card" style="width: 400px !important">
  <div class="flex justify-content-center align-items-center p-8 img-container">
    <img src="assets/images/lounge-chair.png" alt="lounge-chair.png" class="product-image"/>
  </div>
  <div>
    <div class="flex justify-content-between font-bold text-base">
      <div> Lounge Chair </div>
      <div> {{  68 | currency }} </div>
    </div>
    <p class="product-description text-sm">
      Comfortable seating for relaxation and lounging.
    </p>
    <button class="flex justify-content-center align-items-center cart-action">
      <span class="material-symbols-outlined mr-1">
        add_shopping_cart
      </span>
      Add To Cart
    </button>
    <button class="flex justify-content-center align-items-center cart-action" *ngIf="false">
      <span class="material-symbols-outlined">
        remove_shopping_cart
      </span>
      Remove from Cart
    </button>
  </div>
</div>
