<div class="h-full w-full p-5 card" *ngIf="product; else skeleton">
  <div class="flex justify-content-center align-items-center p-8 img-container">
    <img
      [src]="product.imageUrl"
      alt="lounge-chair.png"
      class="product-image"
    />
  </div>
  <div>
    <div class="flex justify-content-between font-bold text-base">
      <a [routerLink]="['product-details', product.id]" class="product-title">{{ product.title }}</a>
      <div>{{ product.price | currency }}</div>
    </div>
    <p class="product-description text-sm">
      {{ product.shortDescription }}
    </p>
    <button class="flex justify-content-center align-items-center cart-action"
      (click)="addToCartClicked()"
      *ngIf="!selectedProductsIds.includes(product.id)">
      <span class="material-symbols-outlined mr-1"> add_shopping_cart </span>
      Add To Cart
    </button>
    <button
      class="flex justify-content-center align-items-center cart-action"
      (click)="removeFromCartClicked()"
      *ngIf="selectedProductsIds.includes(product.id)"
    >
      <span class="material-symbols-outlined"> remove_shopping_cart </span>
      Remove from Cart
    </button>
  </div>
</div>

<ng-template #skeleton>
  <div class="h-full w-full p-5">
    <div class="flex justify-content-center align-items-center p-8 img-container">
      <nz-skeleton-element
        nzType="image"
        [nzActive]="true"
        style="min-width: 100px; min-height: 100px;"
      ></nz-skeleton-element>
    </div>
    <div>
      <div class="flex justify-content-between font-bold text-base">
        <a class="product-title">
          <nz-skeleton-element
            nzType="input"
            [nzActive]="true"
          ></nz-skeleton-element>
        </a>
        <div>
          <nz-skeleton-element
            nzType="button"
            [nzActive]="true"

        ></nz-skeleton-element>
        </div>
      </div>
      <p class="product-description text-sm mt-2">
        <nz-skeleton-element
          nzType="input"
          [nzActive]="true"
          style="width:300px"
          [nzSize]="'small'"

        ></nz-skeleton-element>
      </p>
      <button class="flex justify-content-center align-items-center cart-action hidden">
        <span class="material-symbols-outlined mr-1"> add_shopping_cart </span>
        Add To Cart
      </button>
    </div>
  </div>
</ng-template>
