
.img-container {
  background-color: #f2f2f4;
  border-radius: 10px;
}

.product-img {
  max-width: 100px;
  max-height: 100px;
}

.small-img  {
  max-width: 40px;
  max-height: 40px;
}

.product-title {
  color: rgba(0,0,0,.85);
  font-weight: 500;
  font-size: 24px;
}

.small-title {
  font-size: 18px;
}

.product:hover {
  .product-title {
    text-decoration: solid underline rgba(0,0,0,.85) 2px;
  }
}

.price {
  font-weight: 500;
  font-size: 18px;
}

.short-description {
  font-size: 12px;
  margin-top: 10px;
}
