<div class="flex flex-column">

  <div nz-row class="mb-3 hidden sm:hidden md:flex ">
    <div nz-col
          class="gutter-row flex align-items-center justify-content-center font-bold"
          nzXs="24"
          nzSm="24"
          nzMd="12"
          nzLg="12"
          nzXl="12">
      Item

    </div>
    <div nz-col
          class="gutter-row p-0 flex align-items-center justify-content-center font-bold"
          nzXs="24"
          nzSm="24"
          nzMd="6"
          nzLg="6"
          nzXl="6">
         Quantity
    </div>
    <div nz-col
          class="gutter-row p-0 flex align-items-center justify-content-center font-bold"
          nzXs="24"
          nzSm="24"
          nzMd="4"
          nzLg="4"
          nzXl="4">
        Price
    </div>
    <div nz-col
          class="gutter-row p-0 flex align-items-center justify-content-center font-bold"
          nzXs="24"
          nzSm="24"
          nzMd="2"
          nzLg="2"
          nzXl="2">
    </div>

  </div>
  <form [formGroup]="cartService.cartForm" (submit)="onSubmit()">
    <ng-container formArrayName="items" *ngIf="cartService.items.controls.length !== 0; else emptyCart">
      <div  *ngFor="let item of cartService.items.controls; index as i">
        <app-cart-item [cartItem]="item.value" formControlName="{{i}}" (removeFromCart)="onRemoveFromCart($event)" >
        </app-cart-item>
        <nz-divider></nz-divider>
      </div>
    </ng-container>
    <div class="flex flex-column">
      <div class="flex justify-content-end font-bold py-2 px-8 text-lg">
        <span class="mx-3">Total: </span>
        <span> {{ total | currency }} </span>
      </div>
      <div class="flex justify-content-end py-2 px-6">
        <button
          class="checkout flex justify-content-center align-items-center"
          type="submit"
          [disabled]="cartService.items.controls.length === 0">
          <span class="material-symbols-outlined mr-2">
            shopping_cart_checkout
          </span>
         Proceed to Checkout
        </button>
      </div>

    </div>

  </form>
</div>

<ng-template #emptyCart>
  <nz-divider></nz-divider>
  <div class="p-5 flex justify-content-center align-items-center">
    <h2> Cart is empty  </h2>
  </div>
  <nz-divider></nz-divider>
</ng-template>
