.checkout {
  background-color: #000;
  bottom: 10px;
  border: none;
  padding: 6px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.checkout:hover {
  color: #000;
  background-color: #f2f2f4;
}

.checkout:disabled {
  color: #000;
  background-color: #949393;
  cursor: not-allowed;
}
