:host{

  nz-layout {
    height: 100%;
  }

  ::ng-deep.ant-layout-content {
    min-height: auto !important;
  }
  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  ::ng-deep.ant-layout {
    background-color: #fff;
  }

}
