<div nz-row [nzGutter]="16" *ngIf="product && !isLoading else skeleton">
  <div
      nz-col
      class="gutter-row p-0"
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="12"
      class="p-5"
    >
    <div class="flex justify-content-center align-items-center p-8 img-container">
      <img src="{{product.imageUrl}}" class="product-img m-6" alt="Lounge Chair" />
    </div>
  </div>

  <div nz-col
        class="gutter-row p-5"
        nzXs="24"
        nzSm="22"
        nzMd="12"
        nzLg="12"
        nzXl="12">
    <div class="flex justify-content-between">
      <h1> {{ product.title }} </h1>
      <h1> {{ product.price | currency }} </h1>
    </div>
    <div class="font-medium product-category">
      {{ product.category | titlecase }}
    </div>
    <div class="product-description" [innerHTML]="product.description">
    </div>

    <div class="actions flex flex-column sm:flex-row justify-content-center align-items-center">
      <div class="quantity mr-0 sm:mr-3 mb-3 sm:mb-0">
        <app-increment-decrement [(ngModel)]="quantity" (valueChanged)="onQuantityChanged($event)"></app-increment-decrement>
      </div>
      <button
        class="flex justify-content-center align-items-center cart-action flex-1"
        *ngIf="!selectedProductsIds.includes(product.id)"
        (click)="addToCartClicked()">
        <span class="material-symbols-outlined mr-1"> add_shopping_cart </span>
        Add To Cart
      </button>
      <button
        class="flex justify-content-center align-items-center cart-action flex-1"
        *ngIf="selectedProductsIds.includes(product.id)"
        (click)="removeFromCartClicked()"
      >
        <span class="material-symbols-outlined"> remove_shopping_cart </span>
        Remove from Cart
      </button>

    </div>
  </div>

</div>

<ng-template #skeleton>
  <div nz-row [nzGutter]="16" *ngIf=" isLoading  else error">
    <div
        nz-col
        class="gutter-row p-0"
        nzXs="24"
        nzSm="22"
        nzMd="12"
        nzLg="12"
        nzXl="12"
        class="p-5"
      >
      <div class="flex justify-content-center align-items-center p-8 img-container">
        <nz-skeleton-element
          nzType="image"
          [nzActive]="true"
          style="min-width: 500px; min-height: 500px;"
        ></nz-skeleton-element>
      </div>
    </div>

    <div nz-col
          class="gutter-row p-5"
          nzXs="24"
          nzSm="22"
          nzMd="12"
          nzLg="12"
          nzXl="12">
      <div class="flex justify-content-between">
        <h1>
          <nz-skeleton-element
            nzType="input"
            [nzActive]="true"
          ></nz-skeleton-element>
        </h1>
        <h1>
          <nz-skeleton-element
            nzType="button"
            [nzActive]="true"

          ></nz-skeleton-element>
        </h1>
      </div>
      <div class="font-medium product-category">
        <nz-skeleton-element
            nzType="button"
            [nzActive]="true"
            nzSize="small"

        ></nz-skeleton-element>
      </div>
      <div class="product-description">
        <nz-skeleton></nz-skeleton>
        <nz-skeleton></nz-skeleton>
        <nz-skeleton></nz-skeleton>
      </div>

      <div class="actions flex flex-row justify-content-center align-items-center">
        <div class="quantity mr-3">
          <nz-skeleton-element
            nzType="button"
            [nzActive]="true"
          ></nz-skeleton-element>
        </div>

        <nz-skeleton-element
            nzType="input"
            [nzActive]="true"
        ></nz-skeleton-element>

      </div>
    </div>

  </div>
</ng-template>

<ng-template #error>
  <div class="p-8 m-8 flex justify-content-center align-items-center">
    <h1>{{ errorMessage }}</h1>
  </div>
</ng-template>
