<div class="w-full" *ngIf="review else skeleton">
  <div class="flex justify-content-between">
    <div class="flex justify-content-start align-items-center">
      <nz-avatar [nzSize]="64" nzIcon="user" [nzSrc]="review.imageUrl"></nz-avatar>
      <!-- <nz-avatar [nzSize]="64" nzIcon="user" *ngIf="review.imageUrl"></nz-avatar> -->

      <h2 class="ml-2"> {{ review.name }} </h2>
    </div>
    <div class="flex justify-content-center align-items-center review-date">
      {{ review.publishDate | date }}
    </div>
  </div>
  <div class="rate">
    <nz-rate [ngModel]="review.rate" nzDisabled></nz-rate>
  </div>
  <p>
    {{ review.description }}
  </p>
</div>

<ng-template #skeleton>
  <div class="flex justify-content-between">
    <div class="flex justify-content-start align-items-center">
      <nz-skeleton-element
        nzType="avatar"
        [nzActive]="true"

      ></nz-skeleton-element>

      <h2 class="ml-2">
        <nz-skeleton-element
          nzType="input"
          [nzActive]="true"
          nzSize="small"
        ></nz-skeleton-element>
      </h2>
    </div>
    <div class="flex justify-content-center align-items-center review-date">
      <nz-skeleton-element
          nzType="button"
          [nzActive]="true"
          nzSize="small"
      ></nz-skeleton-element>
    </div>
  </div>
  <div class="rate">
    <nz-rate [ngModel]="0" nzDisabled></nz-rate>
  </div>
  <p>
    <nz-skeleton></nz-skeleton>
  </p>
</ng-template>
