<div nz-row *ngIf="cartItem else skeleton">
  <div nz-col
        class="gutter-row p-0 flex align-items-center justify-content-center md:justify-content-start mb-3 md:mb-0"
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="12">
    <app-simple-product-card [product]="cartItem.product" [isCart]="true"></app-simple-product-card>

  </div>
  <div nz-col
        class="gutter-row p-0 flex align-items-center justify-content-center mb-3 md:mb-0"
        nzXs="24"
        nzSm="24"
        nzMd="6"
        nzLg="6"
        nzXl="6">
        <app-increment-decrement [(ngModel)]="cartItem.quantity" (valueChanged)="onQuantityChanged($event)"></app-increment-decrement>
  </div>
  <div nz-col
        class="gutter-row p-0  flex align-items-center justify-content-center font-bold mb-3 md:mb-0"
        nzXs="24"
        nzSm="24"
        nzMd="4"
        nzLg="4"
        nzXl="4">
       {{ cartItem.product.price | currency }}
  </div>
  <div nz-col
        class="gutter-row p-0  flex align-items-center justify-content-center font-bold mb-3 md:mb-0"
        nzXs="24"
        nzSm="24"
        nzMd="2"
        nzLg="2"
        nzXl="2">
      <button class="action">
        <span nz-icon nzType="delete" nzTheme="outline"></span>
      </button>
  </div>

</div>

<ng-template #skeleton>
  <div>
    loading...
  </div>
</ng-template>
